.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
.todo {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
