.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  display: grid;
  justify-content: center;
}
.todo {
  height: 100%;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 96%;
    grid-template-columns: 1fr;
  }

  .todo {
    width: 100%;
    display: grid;
    &_settings {
      width: 50%;
      gap: 1rem;
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      justify-self: center;
    }
  }
}
