@import 'variables.scss';

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: calc(1rem + 5%);
}

/* Убираем внутренние отступы и стандартную стилизацию */
ul {
  padding: 0;
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: $backgroundColor;
  color: #fff;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  background-color: $backgroundColor;
  color: #fff;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Кастомные стили */
input {
  font-size: 1rem;
  padding: 0.2rem 1rem;
  outline: none;
}
