@import '/src/styles/variables.scss';

.todo_item {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__label {
    display: inline-block;
    position: relative;
    padding: 0 0.8rem;
    height: 0.9rem;
    cursor: pointer;
  }
  &__checkbox {
    position: absolute;
    opacity: 0;

    &_custom {
      position: absolute;
      top: 0;
      left: 0;
      height: 1rem;
      width: 1rem;
      border-radius: 0.5rem;
      background-color: $secondaryColor;
    }
  }
  &__label:hover &__checkbox ~ &__checkbox_custom {
    opacity: 0.7;
  }
  &__checkbox:checked ~ &__checkbox_custom {
    border: 2px solid $secondaryColor;
    background-color: $primaryColor;
  }

  &__title {
    margin-right: 1rem;
  }

  &__delete {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    position: relative;

    &::before {
      content: '';
      height: 1rem;
      border-right: 2px solid $dangerColor;
      top: 0;
      left: 0;
      position: absolute;
      transform: rotate(45deg);
      transition: transform ease 0.5s;
    }
    &::after {
      content: '';
      height: 1rem;
      border-left: 2px solid $dangerColor;
      bottom: 0;
      left: 0;
      position: absolute;
      transform: rotate(-45deg);
      transition: transform ease 0.5s;
    }
  }

  &__delete:hover {
    &::before {
      transform: rotate(125deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
}
