@import '/src/styles/variables.scss';

.todo_item {
  min-height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__label_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__label {
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &_custom {
      position: absolute;
      top: 0;
      left: 0;
      height: 1rem;
      width: 1rem;
      border-radius: 0.2rem;
      background-color: $secondaryColor;
    }
  }
  &__label:hover &__checkbox ~ &__checkbox_custom {
    opacity: 0.7;
  }
  &__checkbox:checked ~ &__checkbox_custom {
    border: 2px solid $secondaryColor;
    background-color: $primaryColor;
  }

  &__title {
    display: inline-block;
    width: 90%;
  }

  &__delete {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    position: relative;
    opacity: 0.7;

    &::before {
      content: '';
      height: 1rem;
      border-right: 2px solid $dangerColor;
      top: 0;
      left: 0.5rem;
      position: absolute;
      transform: rotate(45deg);
    }
    &::after {
      content: '';
      height: 1rem;
      border-left: 2px solid $dangerColor;
      top: 0;
      left: 0.5rem;
      position: absolute;
      transform: rotate(-45deg);
    }
  }

  &__delete:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .todo_item {
    position: relative;
    border: 3px solid $primaryColor;

    &__label {
      position: static;
    }
    &__checkbox_custom {
      position: absolute;
      top: 0;
      left: 0;
      width: 4rem;
      height: 4rem;
      clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
      background: none;

      &:hover {
        background-color: $secondaryColor;

        &::before {
          border-color: white;
        }
      }

      &::before {
        content: '';
        position: absolute;
        height: 2rem;
        width: 1rem;
        border-right: 2px solid $primaryColor;
        border-bottom: 2px solid $primaryColor;
        top: 0;
        left: 1rem;
        transform: rotate(45deg);
        transition: transform ease 0.5s;
      }
    }

    &__checkbox:checked ~ &__checkbox_custom {
      border: none;
      background-color: $primaryColor;

      &::before {
        border-color: #fff;
      }
    }

    &__delete {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 2rem;
      height: 2rem;

      &::before {
        height: 2rem;
        left: 1rem;
      }
      &::after {
        height: 2rem;
        left: 1rem;
      }
    }
  }
}
